body {
	margin-top: 1.0em;
	color: #eee;
	background-color: #151520;
	font-family: "DejaVuSansMono", "DejaVu Sans Mono", monospace;
}

#root {
	font-size: 16px;
	background-color: #000;
}

.centerer {
	text-align: center;
}